@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@addTagHelper *, AuthoringTagHelpersusi

@model Test_AdminPanel.Models.VM.UserFileVM



@{
    Layout = null;
}
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/DataTable/DataTables-1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1 style="text-align:center;"> Add New user</h1>

<form method="post" enctype="multipart/form-data">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
             
                <th>Ad</th>
                <th>Soyad</th>
                <th>Ata adı</th>
                <th>Doğum tarixi</th>
                <th>İstifadəçi adı</th>
                <th>İstifadəçi şifrə</th>
                <th>Stansiya adı</th>
                <th>Kassa nömrəsi</th>
                <th>İstifadəçi yaranma tarixi</th>
                <th>File</th>
                <th>Save</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                @*<input asp-for="UserID" class="form-control" type="hidden" placeholder="userId" />*@

                <td>
                    <input asp-for="UserFirstName" class="form-control" type="text" placeholder="UserFirstName" />
                    <span asp-validation-for="UserFirstName" style="color:red;" class="input-group-text"></span>
                </td>

                <td>
                    <input asp-for="UserLastName" class="form-control" type="text" placeholder="UserLastName" />
                    <span asp-validation-for="UserLastName" style="color:red;" class="input-group-text"></span>
                </td>
                </td>
                <td>
                    <input asp-for="UserFatherName" class="form-control" type="text" placeholder="UserFatherName" />
                    <span asp-validation-for="UserFatherName" style="color:red;" class="input-group-text"></span>

                </td>
                <td>
                    <input asp-for="BirthdayDate"  asp-format="{0:dd/MM/yyyy}" class="form-control" type="date" placeholder="BirthdayDate" />
                    <span asp-validation-for="BirthdayDate" style="color:red;" class="input-group-text"></span>

                </td>
                <td>
                    <input asp-for="UserName" class="form-control" type="text" placeholder="UserName" />
                    <span asp-validation-for="UserName" style="color:red;" class="input-group-text"></span>
                </td>
                <td>
                    <input asp-for="UserPassword" class="form-control" type="text" placeholder="UserPassword" />
                    <span asp-validation-for="UserPassword" style="color:red;" class="input-group-text"></span>
                </td>
                <td>
                    @Html.DropDownListFor(x => x.station.StationID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                    <span asp-validation-for="StationID" style="color:red;" class="input-group-text"></span>


                </td>
                <td>
                    <input asp-for="KassaID" class="form-control" type="number" placeholder="KassaID" />
                    <span asp-validation-for="KassaID" style="color:red;" class="input-group-text"></span>
                </td>
                <td>
                    <input disabled asp-for="UserCreateDate"  class="form-control" type="date" />
                </td>

                <td>

                    <div class="custom-file">
                        <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>

                </td>

                <td>
                    <button id="btn1" class="btn btn-outline-success" type="submit">Save</button>
                </td>



</tbody>
    </table>
</form>

@section scripts{
    <script type="text/javascript">

        
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}



@*<script>
        $('#btn1').click(function () {
            swal("Good job!", "User is added !", "success");

        });
    </script>*@






